$teal: teal;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $teal;
    color: black;
    @include margenes(50px, 0px);
}


footer{
    padding: 10px 10px 0 10px;
    background-color:$teal;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

a{
    text-decoration: none;
    color: black;
}